<a href="https://colab.research.google.com/github/Aero-Kent-De-Guzman/VDA-CPE031-CPE21S4/blob/main/Exercise_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Creating DataFrame**

In [1]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [21]:
import pandas as pd

data = {
  'apples'  : [3,2,0,1],
  'oranges' : [0,3,7,2]
}

purchases = pd.DataFrame(data)
print(purchases)

purchases = pd.DataFrame(data, index = ['June','Robert','Lily','David'])
print(purchases)
purchases.loc['June']

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2
        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

apples     3
oranges    0
Name: June, dtype: int64

# **Importing DataFrame to csv or excel file**

In [24]:
purchases.to_csv('fruits.csv')
# or
purchases.to_excel('fruits.xlsx')

# **Reading Data from csv**

In [30]:
"""
  from google.colab import files
  uploaded = files.upload()
  # No longer needed since the .csv files are already imported
"""

import pandas as pd
data = pd.read_csv('fruits.csv')
purchases = pd.DataFrame(data)
print(purchases)

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

# **Loading the data from excel file into DataFrame**

In [34]:
#Loading the data from excel file
data = pd.read_excel('fruits.xlsx')
purchases = pd.DataFrame(data)
print(purchases)

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7
3      David       1        2

# **DataFrame.head(n)**

In [36]:
print(data.head(3))

  Unnamed: 0  apples  oranges
0       June       3        0
1     Robert       2        3
2       Lily       0        7

# **DataFrame.tail(n)**

In [37]:
print(data.tail(3))

  Unnamed: 0  apples  oranges
1     Robert       2        3
2       Lily       0        7
3      David       1        2